streamlit
python-dotenv
requests
pydub
yt-dlp
openai-whisper

langchain-core
langchain-mistralai
langchain-groq
langchain-chroma
langchain-huggingface
langchain-text-splitters

chromadb
sentence-transformers

ffmpeg-python>=0.2.0              # FFmpeg bindings (FFmpeg binary must be installed separately)

